@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Lato:ital,wght@1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #830051;
}

/* headings and logo */

h1, h2 {
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #830051;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}
/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #830051;
}

.active {
    border-bottom: 1px solid #830051;
}

/* hero image and cover text */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text, #cover-text h2 {
    color: #fff;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/Metaverse_Woman.jpg') no-repeat center center;

    /* animates zoom effect on loading page */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#cover-text {
    font-size: 130%;
    font-family: Lato, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(24, 10, 209, 0.7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

/* metaverse lovers */

#metaverse-lovers {
    height: 600px;
    margin-left: auto;
    margin-right: auto;
}

#center-about {
    padding-top: 30px;
    width: 100%;
    text-align: center;
    margin: 20px 0;
}
hr {
    border-top: 1px solid #830051;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.center-about-heading {
    width: 60%;
    line-height: 20px;
    clear: both;
    margin-left: auto;
    margin-right: auto;
}

.center-about-heading p {
    font-size: 100%;
    font-family: Lato, sans-serif;
    letter-spacing: 4px;
    width: 100%;
    line-height: 30px;
    clear: both;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#welcome {
    text-align: center;
    margin: 20px 0;
    font-size: 280%;
}
/* footer */
footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #830051;
}

/* scroll left animation */
.scroll-left {
    height: 50px;	
    overflow: hidden;
    position: relative;
    background: #fff;
    color: #830051;
    border: 1px #830051;
   }
   .scroll-left p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    transform:translateX(100%);
    /* Apply animation to this element */
    animation: scroll-left 15s linear infinite;
   }
   /* Move it (define the animation) */
   @keyframes scroll-left {
    0%   {
    transform: translateX(100%); 		
    }
    100% {
    transform: translateX(-100%); 
    }
   }